@model IEnumerable<Pharma_Ky.Models.Cosmetics>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section MainSection{
    </br></br></br></br>
            </br></br></br></br>
        </br></br></br></br>

<p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cosmeticsname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cosmeticsdescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cosmeticsprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cosmeticsimageurl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cosmeticsname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cosmeticsdescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cosmeticsprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cosmeticsimageurl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CosmeticsId" class="btn btn-info">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CosmeticsId" class="btn btn-warning">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CosmeticsId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
