@model Pharma_Ky.Models.MedicVits

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MedicVits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicVitname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicVitname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicVitdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicVitdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicVitprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicVitprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicVitimageurl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicVitimageurl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicVitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
